.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 40px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  position: relative;

  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.button::before {
  content: "";
  position: absolute;
  top: -13px;
  width: 2px;
  height: 71px;
  background-color: #ddd;
  ;
  transform: rotate(90deg);
  right: -36px;
}

.button-text {
  margin-top: 5px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.button.active {
  background-color: #ccc;
  color: #fff;
}

.button:hover {
  background-color: #ddd;
}

.tab-content {
  width: 600px;
}

@media (max-width: 768px) {
  .tab-content {
    font-size: 14px;
    padding: 10px;
    width: 600px;
  }
}