* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.main-container {
  height: 100vh;
  background-color: white;
}

.default-header {
  background-color: rgb(216, 210, 210);
  height: 90px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
}

.default-header h1 {
  margin: 0 20px;

}